Click==7.0
codecov==2.0.15
coverage==4.5.2
flake8==3.6.0
mypy==0.650
pathlib2==2.3.3
pip==18.1
pytest==4.0.1
pytest-runner==4.2
pytest-cov==2.6.0
pytest-flake8==1.0.2
pytest-mypy==0.3.2
# pytest-annotate==1.0.2
radon==2.4.0
setuptools==40.6.2
setuptools_scm==3.1.0
Sphinx==1.8.2
tox==3.5.3
typing==3.6.6; python_version < "3.5"
watchdog==0.9.0
wheel==0.32.3
