Click==7.1.1
codecov==2.0.16
coverage==5.0.3
flake8==3.7.9
mypy==0.770
pathlib2==2.3.5
pip==20.0.2
pytest==5.4.1
pytest-runner==5.2
pytest-cov==2.8.1
pytest-flake8==1.0.4
pytest-mypy==0.5.0
# pytest-annotate==1.0.2
radon==4.1.0
setuptools==46.0.0
setuptools_scm==3.5.0
Sphinx==2.4.4; python_version >= "3.5"
tox==3.14.5
wheel==0.34.2
